extends ../layouts/_default

block locals

  +view(views.home)

block title

  title=`${site.name} - ${site.description}`

block view

  +main(class='u-flex-auto u-bg-dark u-light')

    table: tr: td: 1

    article(class='u-mb3')
      +container()
        header(class='u-hide')
          h1=view.name

        p=view.description

        //- +stringify(locals)

        footer
          a(
            href='https://github.com/lanceguyatt/fronter'
            target='_blank'
            rel='noopener'
            title=`View ${site.name} on Github`
          )
            +icon('github')
