extends ../layouts/_default

block locals

  +view(views.home)

block title

  title=`${site.name} - ${site.description}`

block view

  +main()

    article(class='u-mb3')
      header(class='u-hide')
        h1=view.name
      p=view.description

      a(
        href='https://github.com/lanceguyatt/fronter'
        target='_blank'
        class='u-black'
        rel='noopener'
        title=`View ${site.name} on Github`
      )
        +icon('github')

    //- div(class='u-flex u-flex-wrap')
    //-   each icon in ['github', 'gulp', 'postcss', 'pug']
    //-     div(class=' u-mb4 o-col-1-2 o-col-1-3-md o-col-1-4-lg')
    //-       +icon(icon)(class='u-block')
    //- 
    //- +clearfix()
    //-   each i in [1,2,3,4,5,6,7,8,9,10,11,12]
    //-     div(class='u-center u-p2 u-left u-col-1 u-border u-mb3')=i
    //- 
    //- +clearfix()
    //-   each i in [1,2,3,4,5,6,7,8,9,10,11,12]
    //-     div(class='u-center u-p2 o-col-1-4-sm u-border u-mb3')=i
