extends ../layouts/_default

block locals

  +view(views.home)

block title

  title=`${site.name} - ${site.description}`

block view

  +main()

    article(class='u-mb3')
      header
        h1 Yo

      p=view.description

      footer
        a(
          href='https://github.com/lanceguyatt/fronter'
          target='_blank'
          class='u-color-inherit'
          rel='noopener'
          title=`View ${site.name} on Github`
        )
          +icon('github')
