include ../helpers/index
include ../mixins/index

block locals

doctype
html(class='no-js' dir=site.dir lang=site.lang itemscope itemtype='http://schema.org/WebPage')

  head(prefix='og: http://ogp.me/ns#')

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')

    block title

      title=view.title

    meta(name='viewport' content='width=device-width, initial-scale=1')

    block meta-default

      meta(name='description' content=view.description)

    meta(itemprop='name' content=view.title)
    meta(itemprop='description' content=view.description)
    meta(itemprop='url' content=view.url)
    meta(itemprop='image' content=view.image.url)

    block meta-og

      meta(property='og:title' content=view.title)
      meta(property='og:description' content=view.description)
      meta(property='og:image' content=view.image.url)
      meta(property='og:image:width' content=view.image.width)
      meta(property='og:image:height' content=view.image.height)
      meta(property='og:url' content=view.url)
      meta(property='og:type' content=view.type)
      meta(property='og:site_name' content=site.name)

    block meta-twitter

      meta(name='twitter:card' content='summary_large_image')
      //- meta(name='twitter:site' content='@lanceguyatt')
      meta(name='twitter:title' content=view.title)
      meta(name='twitter:description' content=view.description)
      //- meta(name='twitter:creator' content='@lanceguyatt')
      meta(name='twitter:image:src' content=view.image.url)
      meta(name='twitter:image:alt' content=view.image.alt)
      meta(name='twitter:url' content=view.url)
      //- meta(name='twitter:domain' content=site.url.replace('http://', ''))

    link(rel='icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='manifest' href='/manifest.json')
    //- link(rel='mask-icon' href='/safari-pinned-tab.svg' color=site.themeColor)

    meta(name='apple-mobile-web-app-title' content=site.name)
    meta(name='application-name' content=site.name)
    meta(name='msapplication-config' content='/browserconfig.xml')
    meta(name='theme-color' content=site.themeColor)

    link(rel='author' href='/humans.txt' type='text/plain')

    block styles

      link(rel='stylesheet' href=`${paths.styles}site.css` type='text/css')

    block head

  body

    +container(class='u-p3')

      div(role='banner')
        a(href=site.url class='u-color-inherit u-h1')=site.name
        p=site.description

      block view

      div(role='contentinfo')

        meta(itemprop='copyrightYear' content=site.copyrightYear)
        meta(itemprop='datePublished' content=site.datePublished)
        meta(itemprop='dateModified' content=site.dateModified)

        a(href='https://github.com/lanceguyatt/gulpstarter' target='_blank' class='u-black' title=`View ${site.name} on Github`)
          +icon('github')(class='u-block')

        if author

          div(itemprop='author' itemscope itemtype='http://schema.org/Person')
            meta(itemprop='name' content=author.name)
            meta(itemprop='description' content=author.description)
            meta(itemprop='jobTitle' content=author.jobTitle)
            meta(itemprop='url' content=author.url)
            meta(itemprop='email' content=author.email)
            div(itemprop='image' itemscope itemtype='http://schema.org/ImageObject')
              meta(itemprop='contentUrl' content=author.image.url)
              meta(itemprop='width' content=author.image.width)
              meta(itemprop='height' content=author.image.height)

      +stringify(locals, null, ' ')

    block scripts

      script(src=`${paths.scripts}site.js`)
