include ../helpers/_index
include ../mixins/_index

- isProduction = process.env.NODE_ENV === 'production'

- title = site.name
- page = { name: '', description: '', url: '' }
- meta = { title: site.name, description: site.description, url: '', image: { url: site.image.url, width: site.image.width, height: site.image.height }, video: {}, type: site.type }

block locals

doctype html
html(class='no-js' dir=site.dir lang=site.lang)

  head

    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')

    block title

      title=title

    block meta-default

      meta(name='description' content=meta.description)

    meta(name='viewport' content='width=device-width, initial-scale=1')

    block styles

      link(rel='stylesheet' href=`${paths.styles}site.css` media='all')

      //-
        if !isProduction

          link(rel='stylesheet' href=`${paths.styles}hashgrid.css` media='screen' type='text/css')

    block meta-og

      meta(property='og:title' content=meta.title)
      meta(property='og:description' content=meta.description)
      meta(property='og:image' content=`${site.url}${meta.image.url}`)
      meta(property='og:image:width' content=meta.image.width)
      meta(property='og:image:height' content=meta.image.height)
      meta(property='og:url' content=`${site.url}${meta.url}`)
      meta(property='og:type' content=meta.type)
      meta(property='og:site_name' content=site.name)

    block meta-twitter

      meta(name='twitter:card' content='summary_large_image')
      meta(name='twitter:title' content=meta.title)
      meta(name='twitter:description' content=meta.description)
      meta(name='twitter:image' content=`${site.url}${meta.image.url}`)
      meta(name='twitter:url' content=`${site.url}${meta.url}`)

    link(rel='icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')

    link(rel='manifest' href='/manifest.json')

    meta(name='apple-mobile-web-app-title' content=site.name)
    meta(name='application-name' content=site.name)
    meta(name='theme-color' content=site.themeColor)

    block head

  body

    block banner

    block main

    block contentinfo

    block scripts

      script(src='https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.4/svg4everybody.min.js')
      script(src=`${paths.scripts}site.js`)

      //-
        if isProduction
          
          div(class='o-container') Production mode
        
        else
          
          div(class='o-container') Development mode

          script(src=`${paths.vendor}hashgrid.js`)
          script.
            var grid = new hashgrid({ numberOfGrids: 4 });
